@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #dddddd;
}

::-webkit-scrollbar-thumb {
  background-color: #2385f5;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

body .copyrightButtonContent {
  height: 60px;
  width: 250px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #a1a1a1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 25px;
  left: -250px;
  border-radius: 50px;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .copyrightButtonContent p {
  color: #fff;
  margin-left: 20px;
}

body .copyrightButton {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #c7c7c7;
  position: fixed;
  top: 30px;
  left: 30px;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: 11;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .copyrightButton:hover {
  background-color: #a1a1a1;
  cursor: pointer;
}

body .copyrightButton i {
  color: #fff;
  font-size: 30px;
}

body .scrollTopButton {
  height: 80px;
  width: 80px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  background-color: #2385f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: .5s;
  transition: .5s;
}

body .scrollTopButton:hover {
  cursor: pointer;
  background-color: #2e7ad1;
}

body .scrollTopButton i {
  color: #fff;
  font-size: 40px;
}

body header {
  width: 100%;
  height: 800px;
  background-color: #f9f9f9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .hamburgerMenuContent {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  right: -100%;
  top: 0;
  z-index: 100;
  background: #000;
  -webkit-transition: all .5s;
  transition: all .5s;
}

body header .hamburgerMenuContent a {
  font-size: 22px;
  color: #fff;
  margin-bottom: 5px;
  text-decoration: none;
}

body header .hamburgerMenu {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  z-index: 101;
}

body header .hamburgerMenu .hamburgerItem {
  width: 100%;
  height: 5px;
  border-radius: 10px;
  background-color: black;
}

body header .hamburgerMenu .hamburgerItem:hover {
  cursor: pointer;
}

body header .hamburgerMenu .hamburgerItem:nth-child(1) {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

body header .hamburgerMenu .hamburgerItem:nth-child(3) {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

body header .header__nav {
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header .header__nav a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin: 20px;
}

body header .header__nav a:hover {
  color: #707070;
  cursor: pointer;
}

body header .header__nav .active {
  color: #707070;
}

body header .header__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header .header__header h2 {
  font-size: 80px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header .header__header h3 {
  font-size: 20px;
  letter-spacing: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header .header__header .header__header--emotes i {
  font-size: 24px;
  margin: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body header .header__header .header__header--emotes i:nth-child(1) {
  color: #9043d8;
}

body header .header__header .header__header--emotes i:nth-child(2) {
  color: #2385f5;
}

body header .header__header .header__header--emotes i:nth-child(3) {
  color: #ee4040;
}

body header .header__header .header__header--emotes i:nth-child(4) {
  color: #ce8c29;
}

body main {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body main .main__elements {
  width: 80%;
  min-height: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main__elements .footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1f62af;
  opacity: 0;
  color: #fff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body main .main__elements .main__elements--header {
  min-height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main__elements .main__elements--header h2 {
  font-size: 80px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 30px;
}

body main .main__elements .main__elements--header h3 {
  font-size: 20px;
  letter-spacing: 3px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .main__elements .main__elements--header .main__elements--emotes i {
  font-size: 24px;
  margin: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .main__elements .main__elements--header .main__elements--emotes i:nth-child(1) {
  color: #2c2b2c;
}

body main .main__elements .main__elements--header .main__elements--emotes i:nth-child(2) {
  color: #18b920;
}

body main .main__elements .main__elements--header .main__elements--emotes i:nth-child(3) {
  color: #f8890a;
}

body main .main__elements .main__elements--header .main__elements--emotes i:nth-child(4) {
  color: #ece919;
}

body main .main__elements .main__elements--circles {
  min-height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 50px;
}

body main .main__elements .main__elements--circles .main__elements--circle {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: 100px;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .main__elements .main__elements--circles .main__elements--circle:hover {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  cursor: pointer;
}

body main .main__elements .main__elements--circles .main__elements--circle img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

body main .main__elements .main__elements--contact {
  height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body main .main__elements .main__elements--contact .contact__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  margin: 10px;
}

body main .main__elements .main__elements--contact .contact__row h2 {
  font-size: 32px;
  color: #2385f5;
}

body main .main__elements .main__elements--contact .contact__row p {
  margin-left: 20px;
  font-size: 24px;
}

body main .main__elements .main__elements--contact a {
  text-decoration: none;
  color: #000;
  width: 400px;
  height: 50px;
  padding: 20px 40px;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
  margin-top: 60px;
}

body main .main__elements .main__elements--contact a:hover {
  background-color: rgba(223, 223, 223, 0.774);
  cursor: pointer;
}

body main .main__elements .main__elements--contact a i {
  color: #d61818;
  font-size: 24px;
  margin: 10px;
}

body main .main__elements .main__elements--information {
  height: 800px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

body main .main__elements .main__elements--information .information__content {
  height: 600px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .main__elements .main__elements--information .information__content h2 {
  margin: 30px;
  font-size: 50px;
}

body main .main__elements .main__elements--information .information__content p {
  text-align: center;
  font-size: 20px;
}

body main .main__elements .main__elements--information img {
  height: 800px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body main .main__elements .main__elements--information img:nth-child(1) {
  position: absolute;
  right: 40px;
}

body main .main__elements .main__elements--information img:nth-child(2) {
  position: absolute;
  height: 500px;
  left: 10px;
  bottom: 100px;
}

body main .main__elements .main__elements--information .codepen {
  text-decoration: none;
  color: #000;
  width: 400px;
  height: 50px;
  padding: 20px 40px;
  background-color: #dfdfdf;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

body main .main__elements .main__elements--information .codepen:hover {
  background-color: rgba(223, 223, 223, 0.774);
  cursor: pointer;
}

body main .main__elements .main__elements--information .codepen i {
  color: #2385f5;
  font-size: 24px;
  margin: 10px;
}

@media screen and (max-width: 1420px) {
  main .main__elements--information .information__content h2 {
    font-size: 35px !important;
  }
  main .main__elements--information .information__content p {
    font-size: 15px !important;
  }
  main .main__elements--information img:nth-child(1) {
    height: 500px !important;
  }
  main .main__elements--information img:nth-child(2) {
    left: 2px !important;
  }
}

@media screen and (max-width: 1070px) {
  main .main__elements--information .information__content h2 {
    font-size: 25px !important;
  }
  main .main__elements--information .information__content p {
    font-size: 15px !important;
  }
  main .main__elements--information img:nth-child(1) {
    height: 400px !important;
    right: 0 !important;
  }
  main .main__elements--information img:nth-child(2) {
    height: 400px !important;
    left: 2px !important;
  }
  .main__elements--circles .main__elements--circle {
    height: 200px !important;
    width: 200px !important;
    margin: 50px !important;
  }
  .main__elements--circles .main__elements--circle img {
    height: 200px !important;
    width: 200px !important;
  }
  .copyrightButton {
    display: none !important;
  }
  .header__header h2 {
    font-size: 50px !important;
  }
  .header__header h3 {
    font-size: 15px !important;
  }
  .header__header .header__header--emotes i {
    font-size: 20px !important;
  }
  .main__elements .main__elements--header h2 {
    font-size: 50px !important;
  }
  .main__elements .main__elements--header h3 {
    font-size: 15px !important;
  }
  .main__elements .main__elements--header .main__elements--emotes i {
    font-size: 20px !important;
  }
}

@media screen and (max-width: 860px) {
  .main__elements--circles .main__elements--circle {
    height: 150px !important;
    width: 150px !important;
    margin: 30px !important;
  }
  .main__elements--circles .main__elements--circle img {
    height: 150px !important;
    width: 150px !important;
  }
  main .main__elements--information .information__content h2 {
    font-size: 18px !important;
  }
  main .main__elements--information .information__content p {
    font-size: 10px !important;
  }
  main .main__elements--information img:nth-child(1) {
    height: 300px !important;
    right: 0 !important;
  }
  main .main__elements--information img:nth-child(2) {
    height: 300px !important;
    left: 2px !important;
  }
  .codepen {
    width: 250px !important;
    font-size: 16px !important;
  }
  .codepen i {
    font-size: 20px !important;
  }
  .main__elements--contact a {
    width: 300px !important;
    font-size: 16px !important;
  }
  .main__elements--contact a i {
    font-size: 20px !important;
  }
  .main__elements--contact .contact__row h2 {
    font-size: 24px !important;
  }
  .main__elements--contact .contact__row p {
    font-size: 16px !important;
  }
}

@media screen and (max-width: 672px) {
  body {
    overflow-x: hidden !important;
  }
  .header__nav {
    display: none !important;
  }
  .scrollTopButton {
    bottom: 5px !important;
    right: 15px !important;
    height: 40px !important;
    width: 40px !important;
  }
  .scrollTopButton i {
    font-size: 20px !important;
  }
  header {
    height: 20vh !important;
    width: 100% !important;
    background-color: #fff !important;
  }
  header .header__header {
    height: 20vh !important;
    width: 100% !important;
    position: absolute !important;
    top: 100px !important;
  }
  header .header__header h2 {
    font-size: 30px !important;
    margin: 10px !important;
  }
  header .header__header h3 {
    font-size: 10px !important;
    letter-spacing: 2px !important;
  }
  header .header__header .header__header--emotes i {
    font-size: 15px !important;
  }
  header .hamburgerMenu {
    opacity: 1 !important;
  }
  main {
    height: 20vh !important;
    width: 100% !important;
  }
  main .main__elements {
    width: 100% !important;
    height: 20vh !important;
    position: absolute !important;
    top: 300px !important;
    position: relative !important;
  }
  main .main__elements .footer {
    opacity: 1 !important;
  }
  main .main__elements .main__elements--header {
    min-height: 200px;
    width: 100%;
    margin-top: 100px !important;
  }
  main .main__elements .main__elements--header .main__elements--emotes i {
    font-size: 15px !important;
  }
  main .main__elements .main__elements--header h2 {
    font-size: 30px !important;
    margin: 10px !important;
  }
  main .main__elements .main__elements--header h3 {
    font-size: 10px !important;
    letter-spacing: 2px !important;
  }
  main .main__elements .main__elements--circles {
    padding: 20px !important;
    margin-bottom: 100px !important;
  }
  main .main__elements .main__elements--circles .main__elements--circle {
    height: 100px !important;
    width: 100px !important;
    margin: 20px !important;
  }
  main .main__elements .main__elements--circles .main__elements--circle img {
    height: 100px !important;
    width: 100px !important;
  }
  main .main__elements .main__elements--contact .contact__row {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
    height: 40px !important;
    width: 100% !important;
    margin-bottom: 20px !important;
  }
  main .main__elements .main__elements--contact .contact__row h2 {
    font-size: 20px !important;
  }
  main .main__elements .main__elements--contact .contact__row p {
    margin-left: 0 !important;
    letter-spacing: 3px !important;
  }
  main .main__elements .main__elements--contact a {
    width: 300px !important;
    position: absolute !important;
    bottom: 100px !important;
  }
  main .main__elements .main__elements--information .information__content h2 {
    margin: 0 !important;
    font-size: 20px !important;
    width: 100% !important;
    height: 20px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
    position: absolute !important;
    left: 0 !important;
    top: 200px !important;
  }
  main .main__elements .main__elements--information .information__content p {
    font-size: 10px !important;
  }
  main .main__elements .main__elements--information img {
    height: 200px !important;
    display: none !important;
  }
  main .main__elements .main__elements--information .codepen {
    width: 300px !important;
    position: absolute !important;
    bottom: 100px !important;
  }
}
/*# sourceMappingURL=style.css.map */